@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-spotify-black text-white;
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 100%, .5);
}